<h3>Imgur Photos</h3>
<div class="imagelist">
  <% @photos.each_with_index do |p, i| %>
 <div class="image">
    <img src=<%=p.url%> class="main_page_img"><br>
     <%= form_for ([p, p.votes.build]) do |f| %>
      <%= f.label "Votes: #{p.votes.count}" %>
      <%= f.submit %>
     <% end %>

  </div>

    <% if (i+1) % 4 == 0 %>
      </br>
    <% end %>

  <% end %>
<div>
