<!-- <h1> Create a new photo</h1>


<br>
<%# form_for :photo, url: {action: "create"} do |f| %>

  <p>
    <%# f.label :title %><br>
    <%# f.text_field :title %>
  </p>

  <p>
    <%# f.label :url %><br>
    <%# f.text_field :url %>
  </p>

  <p>
    <%# f.submit value:"Create new photo" %>
  </p>
  <%# end %>

</div>

 -->

 <%= form_for @photo, class: 'upload' do |f| %>
  <%= f.file_field :image, class: 'upload' %>
  <%= f.submit "upload image!", class: 'upload' %>
<% end %>