/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background-color: #222222; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  background-color: #2b2b2b;
  height: 50px;
  margin: 0 auto; }

.center-nav {
  width: 1000px;
  background-color: #2b2b2b;
  height: 50px;
  margin: 0 auto; }

nav a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  line-height: 50px; }

#logo {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: white;
  width: 120px;
  height: 50px;
  margin: 0;
  padding-left: 20px;
  font-size: 25px;
  line-height: 50px;
  background-color: #2b2b2b; }

.main-nav {
  float: left; }

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.main-nav ul li {
  float: left;
  padding: 0;
  position: relative;
  background-color: #15627c; }

.main-nav ul li a {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.secondary-nav {
  float: right;
  position: relative; }

.secondary-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.secondary-nav ul li {
  float: right;
  padding: 0;
  position: relative; }

.secondary-nav ul li a {
  float: left;
  padding-right: 20px;
  position: relative; }

#middle-text {
  font-size: 22px;
  line-height: 100px;
  color: white}

body {
  font-family: Arial, sans-serif;
  color: #ddddd1;
  font-size: 14px;
  background-color: black;
    background-image:
    linear-gradient(
      45deg,
      black, #142325
    ); }
  body .warning-txt {
    color: red; }
  body .warning-bg {
    color: red; }
  body .error {
    color: red; }
  body .error-bg {
    color: red; }
  body button {
    font-size: 14pt;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #164353;
    padding: 2px 6px 2px 6px; }
  body .btn {
    font-size: 14pt;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #164353;
    padding: 2px 6px 2px 6px; }
  body input {
    font-size: 14pt;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #164353;
    padding: 2px 6px 2px 6px; }

header {
  color: white;
  font-size: 16px; }

.main_page_img {
  width: 180px;
  height: 180px;
  border: 2px solid #444442;
  margin: 4px 2px; }

.container {
  background-color: #2B2B2B;
  -webkit-box-shadow: 0 0 11px 1px #111;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 1000px;
  border-radius: 10px; }

.imagelist {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 960px; }

.image {
  display: inline-block; }
