/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ddddd1;
  font-size: 14px;
    background-color: #121313;
    background-image: url('main-bg.png');
    background-repeat: no-repeat;
    background-position: centercenter;
    width: 100%;  }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  background-color: #2b2b2b;
  height: 50px;
  margin: 0 auto; }

.center-nav {
  width: 1000px;
  background-color: #2b2b2b;
  height: 50px;
  margin: 0 auto; }

nav a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  line-height: 50px; }

#logo {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: white;
  width: 120px;
  height: 50px;
  margin: 0;
  padding-left: 20px;
  font-size: 25px;
  line-height: 50px;
  background-color: #2b2b2b; }

#logo-signup {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: white;
  margin: 0;
  padding-left: -15px;
  font-size: 110px;
  margin-bottom: 25px;
  margin-top: -60px; }

.main-nav {
  float: left; }

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.main-nav ul li {
  float: left;
  padding: 0;
  position: relative;
  background-color: #15627c; }

.main-nav ul li a {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.secondary-nav {
  float: right;
  position: relative; }

.secondary-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.secondary-nav ul li {
  float: right;
  padding: 0;
  position: relative; }

.secondary-nav ul li a {
  float: left;
  /*padding-right: 20px;*/
  position: relative; }

#middle-text {
  font-size: 22px;
  line-height: 100px;
  color: white;}

.main_page_img {
  display: inline-block;
  width: 180px;
  height: 180px;
  border: 2px solid #444442;
  margin: 4px 2px;
  position: relative; }

.main_page_img:hover {
  visibility: visible;
  width: 180px;
  height: 180px;
  border: 2px solid #dfc12a;
  margin: 4px 2px; }

.point-info {
  width: 169px;
  background-color: rgba(0,0,0,.7);
  position: absolute;
  margin-left: -187px;
  margin-top: 160px;
  padding: 5px;
  text-align: center;}

.container {
  background-color: #2B2B2B;
  -webkit-box-shadow: 0 0 11px 1px #111;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 1000px;
  border-radius: 10px; }

.imagelist {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 960px; }

.image {
  display: inline-block; }

.container-signup {
  background-color: #2B2B2B;
  -webkit-box-shadow: 0 0 11px 1px #111;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 400px;
  height: 400px;
  border-radius: 10px; }

.form-signup {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px; 
  font-weight: bold; }

#register-text {
  font-size: 28px;
  color: white}

input {
  font-size: 14pt;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 2px 6px 2px 6px; 
  border: 2px solid #444442; 
  width: 245px; }

input[type="submit"] {
  text-align: center;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 15px;
  background-color: #2b2b2b; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */ 
  border: 2px solid #444442; 
  background-image:
    linear-gradient(
      #2b2b2b, black
    ); }

.error {
  margin-top: 20px;
  color: red; }

.success {
  margin-top: 20px;
  color: #2ECC40; }  

textarea {
  background-color: black;
  color: white;
  width: 500px; 
  border: 2px solid #444442; 
  font-size: 15px; }

a.back, a.back:link, a.back:visited, a.back:hover, a.back:focus, a.back:active{
  color:#4E76C9; }

.panel {
  background-color: #2B2B2B;
  -webkit-box-shadow: 0 0 11px 1px #111;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 660px;
  border-radius: 10px; 
  font-size: 16px }

.comments-list {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px; }

.comments {
  background-color: #181817;
  padding: 10px; 
  margin-bottom: 20px; }

.log-button:hover, .log-button:active {
  background-color: #444442; }

.log-button a {
  padding-left: 10px;
  padding-right: 10px; }
